
<style>
  .page-container {
    display: flex;
    width: 100%;
  }

  .sidebar {
    flex: 0 0 14em; /* Fixed width for the sidebar */
    padding: 1em;
    overflow: auto;
    height: 100vh;
  }

  .page-content {
    flex-grow: 1; /* Consumes the rest of the space */
    overflow: auto; /* Enables scrolling if content overflows */
    word-wrap: break-word; /* Wrap long words */
    max-width: 100%; /* The width of the sidebar plus its padding */
  }


</style>  

<div class="page-container">
  <aside class="sidebar" id="outline">
    <!-- Sidebar content will be loaded here -->
  </aside>

  <main class="page-content">
    <article class="post">
      {% seo %}
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </main>

</div>