---
layout: base
---

<head>
  {% seo %}
  <style>
    .container {
      display: flex;
    }

    .sidebar {
      position: fixed;
      width: 150px; /* Reduced from 200px */
      padding: 1em;
      overflow: auto;
      height: 100vh;
    }

    .content {
      margin-left: 200px; /* Reduced from 210px */
    }

    /* Reduced line height and spacing for ToC items */
    .sidebar p {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
    }
  </style>
</head>


<body>    
  <main class="page-content" aria-label="Content">
    <div class="sidebar" id="toc"></div>
    <div class="content">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    // Fetch all the headers
    var headers = document.querySelectorAll('h1, h2, h3, h4, h5, h6');

    // Prepare an empty object to store our ToC
    var toc = [];

    // Loop over the headers
    headers.forEach(function(header, index) {
        // Give each header an id
        var id = 'header-' + index;
        header.id = id;

        // Push the header to our ToC
        toc.push({
        id: id,
        text: header.innerText,
        tagName: header.tagName
        });
    });

    // Get the current page URL
    var href = window.location.href;
    var parentDirectory;

    // Check if the URL ends with a slash (directory) or has no file extension
    if (href.endsWith('/') || !href.includes('.')) {
        // If so, just go up one directory
        parentDirectory = '../';
    } else {
        // Otherwise, remove the last segment of the URL and go up one directory
        parentDirectory = href.substring(0, href.lastIndexOf('/')) + '/../';
    }

    // Prepare an empty string to build our ToC HTML
    var tocHTML = '<p><a href="' + parentDirectory + '">Previous Layer</a></p>'; // Include the link to parent directory

    // Loop over our ToC
    toc.forEach(function(tocItem) {
        // Add an indent based on the header level
        var indent = parseInt(tocItem.tagName.substring(1)) - 1;

        // Add the item to the ToC HTML
        tocHTML += '<p style="text-indent: ' + indent + 'em;"><a href="#' + tocItem.id + '">' + tocItem.text + '</a></p>';
    });  

    // Inject our ToC into the div
    document.getElementById('toc').innerHTML = tocHTML;
    });
  </script>

  
</body>
