---
layout: default
---

<style>
  .enlarged-text {
      font-size: 3em; /* Change this value to adjust the size */
  }
</style>

<link rel="stylesheet" href="{{ site.baseurl }}/_shared/reveal.js/dist/reveal.css">
<link rel="stylesheet" href="{{ site.baseurl }}/_shared/reveal.js/dist/theme/white.css">

{{ content }}

<script src="{{ site.baseurl }}/_shared/reveal.js/dist/reveal.js"></script>
<script>
    Reveal.initialize({
        controls: true,
        progress: true,
        center: true,
        hash: true,
    });
</script>
